[submodule "task5/task5/front-end/softy-pinko-front-end"]
	path = task5/task5/front-end/softy-pinko-front-end
	url = https://github.com/atlas-school/softy-pinko-front-end.git
[submodule "task6/task6/front-end/softy-pinko-front-end"]
	path = task6/task6/front-end/softy-pinko-front-end
	url = https://github.com/atlas-school/softy-pinko-front-end
